* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background: #f5f6fa;
  overflow-x: hidden;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem;
}
.app__left {
  flex: 0.8;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__header > h2 {
  color: #fc3c3c;
}
.app__header__dropdown {
  background: #fff;
}
.app__stats {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 976px) {
  .app {
    flex-direction: column;
  }
}
